@model SoftwareCatalogDatabaseASP.Models.Software
<style>
      * {
    color: white;
  }
    body {
        background-color: #202124; 
        color: #ffffff;
    }
    
    .categories-section {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #202124; 
    }
    
    .search-section {
        margin-top: 15px;
    }
    
    .form-check-input {
        background-color: #333333;
    }
    
    .form-check-label {
        color: #ffffff;
    }
    
    .form-control {
        background-color: #333333; 
        color: #ffffff;
        border-color: #555555;
    }
    
    .btn-primary {
        background-color: #555555;
        border-color: #555555; 
    }
    
    .program-container {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #444444; 
    }
    
    .program-image {
        margin-bottom: 15px;
    }
    
    .program-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .program-description {
        margin-bottom: 10px;
    }
    
    .program-link {
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    .program-link:hover {
        text-decoration: underline;
    }
    
    .categories-section .form-check {
        display: block; 
        margin-bottom: 10px;
    }
</style>
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Программное обеспечение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseDuration)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Назад</a>
    </form>
</div>
