@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using static SoftwareCatalogDatabaseASP.Controllers.SoftwaresController
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SoftwareCatalogDatabaseASP.Models.Software
<style>
      * {
    color: white;
    }
    body {
        background-color: #202124; 
        color: #ffffff;
    }
    
    .categories-section {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #202124; 
    }
    
    .search-section {
        margin-top: 15px;
    }
    
    .form-check-input {
        background-color: #333333;
    }
    
    .form-check-label {
        color: #ffffff;
    }
    
    .form-control {
        background-color: #333333; 
        color: #ffffff;
        border-color: #555555;
    }
    
    .btn-primary {
        background-color: #555555;
        border-color: #555555; 
    }
    
    .program-container {
        border: 1px solid #333333;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #444444; 
    }
    
    .program-image {
        margin-bottom: 15px;
    }
    
    .program-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .program-description {
        margin-bottom: 10px;
    }
    
    .program-link {
        display: block;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    .program-link:hover {
        text-decoration: underline;
    }
    
    .categories-section .form-check {
        display: block; 
        margin-bottom: 10px;
    }
    .screenshot {
        display: inline-block;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .screenshot:hover {
        transform: scale(1.1);
    }

    #screenshot-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }

    #screenshot-modal img {
        display: block;
        margin: auto;
        max-width: 90%;
        max-height: 90%;
        margin-top: 5%;
    }
</style>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробно</h1>

<div>
    <h4>Программное обеспечение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <input type="hidden" name="Image" value="@Model.Image" />
            @if (ViewBag.imageData != null)
            {
                <img class="mt-4 mb-4" width="200"
                src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.imageData))">
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseDuration)
        </dd>
    </dl>
        @foreach (var item in ViewBag.screens)
        {
            <div class="screenshot" data-toggle="modal" data-target="#screenshot-modal">
                <img class="mt-4 mb-4" width="200" src="data:image/jpeg;base64,@(Convert.ToBase64String(item))">
            </div>
        }
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        var screenshots = document.querySelectorAll(".screenshot");
        var modal = document.getElementById("screenshot-modal");
        var modalImage = document.getElementById("screenshot-modal-image");

        screenshots.forEach(function(screenshot) {
            screenshot.addEventListener("click", function() {
                var image = this.querySelector("img");
                modalImage.src = image.src;
                modal.style.display = "block";
            });
        });

        modal.addEventListener("click", function() {
            modal.style.display = "none";
        });
    });
</script>

</div>
<div>
    <h4>Список категорий</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(model => item.Name)
                    </td>
                    @if (User.IsInRole("admin") || User.IsInRole("coach"))
                    {
                    <td>
                    <a asp-controller="Categories" asp-action="DeleteCategory" asp-route-softwareId="@Model.Id" asp-route-categoryId ="@item.Id" asp-route-fromComputerDetails ="@true" class="btn btn-primary">Удалить</a>
                    </td>
                    }
                </tr>
        }
    </tbody>
</table>
</div>
<a asp-action="GetAnalogReport" asp-route-softwareId="@Model.Id" class="btn btn-info">Составить отчёт по аналогам программы</a>
<div>
    <h4>Комментарии</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                @Html.DisplayFor(model => item.Text)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<form asp-controller="Comments" asp-action="SendComment" method="post">
    <div class="form-group">
        <label for="Author">Автор комментария</label>
        <input class="form-control" type="text" name="Author" />
    </div>
    <div class="form-group">
        <label for="CommentText">Текст комментария</label>
        <textarea class="form-control" name="CommentText"></textarea>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
</form>


|
<div>                   
    @if (User.IsInRole("admin") || User.IsInRole("coach"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Изменить</a>
    }
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
<div id="screenshot-modal">
    <img id="screenshot-modal-image">
</div>